<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.RSS %}
                    <li>
                        <a target="_blank" href="{{ '/feed.xml' | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.zhihu_username %}
                    <li>
                        <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa  fa-stack-1x fa-inverse">知</i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.weibo_username %}
                    <li>
                        <a target="_blank" href="http://weibo.com/{{ site.weibo_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a target="_blank" href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <!-- <li>
                         <span style="border-right: 1px solid #dddddd"></span>
                    </li>
                    <li>
                        <a target="_blank" href="https://console.upyun.com/register/?invite=HkEbTJMaz">
                                <img height="48" src="/img/upyun_logo.png" style="cursor:pointer">
                        </a>
                    </li> -->
                </ul>
                <p class="copyright text-muted">
                    <!-- 本站使用又拍云CDN全站加速<br> -->
                    网站备案/许可证号：
                    <a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备18011574号-1</a><br> Copyright &copy; {{ site.title }} 2016 - {{ site.time | date: '%Y' }} | Theme by <a target="_blank" href="https://huangxuan.me">Hux</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/hux-blog.min.js"></script>
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>

<script>
    if($('#tag_cloud').length !== 0){
        async("/js/jquery.tagcloud.js",function(){
            $.fn.tagcloud.defaults = {
                size: {start: 10, end: 20, unit: 'px'},
                color: {start: '#bbbbee', end: '#0085a1'},
            };
            $('#tag_cloud a').tagcloud();
        })
    }
</script>
<!-- //cdn.bootcss.com/highlight.js/8.6/styles/github.min.css -->
<link href="/css/github.min.css" rel="stylesheet">
<!--fastClick.js -->
<script>
    // cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js
    async("/js/fastclick.min.js", function(){
        // var $nav = document.querySelector("nav");
        // if($nav) FastClick.attach($nav);
        // global FastClick!!
        FastClick.attach(document.body);
    })
</script>