<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link href="/img/favicon.ico" rel="shortcut icon">
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl}}">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/hux-blog.min.css" rel="stylesheet">
    <!-- Pygments Github CSS -->
    <link href="/css/syntax.css" rel="stylesheet">
    <!-- font-awesome css -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
